@use "@/styles/variables" as *;

.newJobMainWrap {
  padding: 0 1rem;
  background: #fff;
  border-radius: 47px;
  margin: 24px 0 54px;

  .heading {
    font-size: 32px;
    font-weight: 700;
    padding-left: 1rem;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      top: 25px;
      right: 24px;
      width: 78%;
      height: 0.6px;
      background: #b2b2b2;
    }
  }
  :global(.slick-list) {
    padding: 2rem 0;
  }
  :global(.slick-slide) {
    padding: 0 1.25rem;
  }
  // .innerWrap {
  .jobCardWrap {
    padding: 30px 35px;
    border-radius: 32px;
    min-height: 345px;
    transition: 0.3s;
    border: 1.45px solid #efefef;
    box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.1882352941);
    transition: 0.5s;
    border-radius: 7.5px;

    ul {
      li {
        font-size: 1rem;
        font-weight: 400;
        line-height: 41px;
        color: #707070;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        overflow: hidden;
        &:not(:last-child) {
          border-bottom: 1px solid #efefef;
        }
      }
    }

    h4 {
      font-size: 20px;
      font-weight: 700;
      line-height: 40px;
      color: $primary;
      margin: 0 0 22px;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }
    .viewBtn {
      margin: 2rem 0 0;
      a {
        background: $primary;
        color: $white;
        font-size: 15px;
        line-height: 41px;
        padding: 7px 20px;
        border-radius: 6px;
        transition: 0.5s;
        &:hover {
          background: $black;
        }
      }
    }
  }
  @media (max-width: 768px) {
    .heading {
    font-size: 28px;
    font-weight: 700;
    padding-left: 1rem;
    position: relative;

    &::after {
     display: none;
    }
  }
  }
}
