@use "@/styles/variables" as *;

.jobListMainWrap {
  padding: 0 1rem;
  background: #fff;
  border-radius: 47px;
  margin: 24px 0 54px;

  .innerWrap{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    justify-content: space-between;

    .jobCardWrap{
      width: 32%;
      position: relative;
      h4{
        position: absolute;
        top: -26px;
        left: 50%;
        transform: translateX(-50%);
        background: $primary;
        color: $white;
        padding: 7px 35px;
        border-radius: 28.5px;
      }
    }
  }

  .heading {
    font-size: 32px;
    font-weight: 700;
    padding-left: 1rem;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      top: 25px;
      right: 24px;
      width: 78%;
      height: 0.6px;
      background: #b2b2b2;
    }
  }
  :global(.slick-list) {
    padding: 2rem 0;
  }
  :global(.slick-slide) {
    padding: 0 1.25rem;
  }
  // .innerWrap {
  .jobCardWrap {
    padding: 52px 35px;
    border-radius: 32px;
    min-height: 345px;
    transition: 0.3s;
    border: 1.45px solid #efefef;
    box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.1882352941);
    transition: 0.5s;
    border-radius: 7.5px;
    margin-bottom: 50px;

    ul {
      li {
        font-size: 1.125rem;
        font-weight: 500;
        color: #707070;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        padding: 12px 0;
        overflow: hidden;
        a{
          line-height: 36px;
          display: block;
        }
        &:not(:last-child) {
          border-bottom: 1px solid #efefef;
        }
        &:not(:first-child) {
          border-top: 1px solid #efefef;
        }
      }
    }

    h4 {
      font-size: 20px;
      font-weight: 700;
      line-height: 40px;
      display: -webkit-box;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }
   
    .viewBtn {
      margin: 2rem 0 0;
      text-align: center;
      a {
        background: #EDF4FF;
        color: #151515;
        font-size: 15px;
        line-height: 41px;
        padding: 7px 20px;
        border-radius: 6px;
        transition: 0.5s;
        &:hover {
          background: $primary;
        color: $white;
        }
      }
    }
  }
  // }
}
